$font-roboto:'Roboto Slab', serif;
.form-reg{
    width: 100%;
    height: 57px;
    font-family:$font-roboto;
    border: none;
    background-color:rgba(209, 211, 212, 0.25);
    color: rgba(103, 117, 155, 0.61);
    font-size: 18px; 
    letter-spacing: 0.07em;
    border-radius: 12px;
}