$font-roboto:'Roboto Slab', serif;
.link-register-section{
    font-family: $font-roboto;
    color: #12BF95;
}  
.link-forgot-password{
    font-family: $font-roboto;
    color: #404F76;
    font-weight: 400;
    font-size: 12px;
    margin-left: 350px;
    letter-spacing: 0.02em;
} 