#layout-confirm{
 @extend .bg-profile-teach;
}
#column-data{
    @extend .card-data-content;
}
.heading-confirm{
    @extend .heading-content-third;
    text-align: center;
    color: #12BF95;
}
.list-heading-data{
    @extend .heading-content-fourth;
}
.photo-profile-edit-teach-second{
    @extend .img-profile-big-second;
}
#column-img-confirm{
    @extend .column-section-img;
}
#column-subject{
    @extend .card-schedule;
}
#rows-data{
    @extend .rows-list;
}
.paragraph-confirm{
    @extend .paragraph-second;
}

.heading-status-success{
    @extend .heading-green-first;
}
.heading-status-dangerous{
    @extend .heading-red-first;
}
.paragraph-success{
    @extend .paragraph-first-green;
}
.paragraph-danger{
    @extend .paragraph-first-red;
}
.paragraph-unknown{
    @extend .paragraph-first-purple;
}
.link-status-student{
    @extend .absent;
}
.heading-data-list{
    @extend .heading-black-third;
    text-align: center;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #4E4F51;
    font-weight: normal;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-name-status-student{
    color: #12BF95;
    font-weight: bold;
}
#rows-data{
    background-color: white;
    box-shadow: 4px 4px 10px #C4C4C4;
    padding:30px;
}
.header-name-student-absen{
    @extend .heading-black-third;
    font-size: 24px;
    line-height: 32px;
    color: #858585;
    text-align: justify;
}
.header-gather-absen{
    @extend .heading-black-third;
    font-size: 16px;
    text-align: justify;
    color: #C4C4C4;
}
.list-name-gather{
    @extend .heading-black-third;
    font-size: 16px;
    color: #4E4F51;
}
.label-no-absen{
    color: #F06491;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.label-ya-absen{
    color: #12BF95;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.label-sick-absen{
    color: #DDCF4D;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.label-permit-absen{
    color: #858585;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
}
.header-table-status-absen{
    @extend .heading-green-first;
    font-size: 16px;
    color: #C4C4C4;
}
.label-no-absen-gather{
    color: #858585;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 8px;
}
.label-ya-absen-gather{
    color: #858585;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
    border: 2px solid #12BF95;
    border-radius: 8px;
}
.label-sick-absen-gather{
    color: #858585;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
    border: 2px solid yellow;
    border-radius: 8px;
}
.label-absen-gather{
    color: #858585;
    @extend .paragraph-second;
    line-height: 18px;
    letter-spacing: 0.02em;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 8px;
}
.btn-input-data{
    @extend .btn-order-section;
}
.tb-data{
    @extend .table-first;
}
.first-data-lay{
    @extend .layouts-one;
}
.head-tb-data{
    @extend .heading-black;
}
.list-tb-data{
    @extend .list-second;
}
.heading-payment{
    @extend .heading-black;
    text-transform: capitalize;
    white-space:normal;
}
.heading-payment-grey{
    @extend .heading-black;
    color: #D27575;
    text-transform: capitalize;
    white-space: normal;
}
.rows-detail-les{
    border-bottom: 1px solid #D3D3D3;
}
.heading-payment-red{
    @extend .heading-black;
    color: #F06491;
}
.heading-payment-second{
    @extend .paragraph-third;
}
.img-profile-payment{
    @extend .img-file-content-second;
}
.first-payment{
    @extend .layouts-one;
}
.section-img{
    @extend .img-section;
}
.heading-payment-third{
    @extend .paragraph-second-green;
    border: 2px solid #45E0C0;
    border-radius: 11px;
    padding-left: 10px;
}
.rows-friend-pay{
    background-color: white;
    box-sizing: border-box;
    box-shadow:  0px 4px 4px #C4C4C4;  
}
.rows-friend{
    border-bottom: 1px solid #D3D3D3;
}
#paragraph-video{
    @extend .paragraph-content;
    font-size: 16px;
    color: #c4c4c4;   
}
.bold-status{
    @extend .paragraph-content;
    color: #555555;  
    font-size: 16px;
}
.status-danger-test{
    @extend .paragraph-content;
    font-size: 20px;
    color: #F06491;
    font-weight: bold;
}
.form-video{
    box-shadow: 0px 2px 4px 2px #c4c4c4 !important;
    padding: 20px;
}
#link-upload-disabled{
    background-color: #c4c4c4;
    @extend .paragraph-content;
    font-size: 20px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}
#link-upload{
    background-color: #12BF95;
    @extend .paragraph-content;
    font-size: 20px;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}
.theader-table-status{
    @extend .paragraph-second-green;
    color: #555555;   
    font-weight: 400;
    font-style: normal;
}
.tbody-table-status{
    @extend .paragraph-second-green;
    color: #555555;   
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
}
.link-pay{
    @extend .info;
}
.img-pay-done{
    @extend .img-file-content-third;
}
.img-pay-dash{
    @extend .img-dash;
}
.link-pay-not{
    @extend .info;
}
.link-had-pay{
    @extend .info-green;
}
.heading-warn-pay{
    @extend .heading-red-first;
}
.heading-warn-success{
    @extend .heading-green-fourth;
}
.stat-pay-btn{
    @extend .btn-red-content-third;
}
.pay-stat-img{
    @extend .img-stat-pay;
}
.heading-detail-les{
    @extend .heading-content-grey-first;
    border-bottom: 1px solid#D3D3D3;
    padding-bottom: 20px;
}
.heading-friend-taken{
    @extend .heading-content-grey-first;
    color: #787878;
}
.heading-inform{
    @extend .heading-content;
    color: black;
}
.header-teach-name{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: white;
    padding-left: 10px;
    background: #12BF95;
    letter-spacing: 0.07em;
    width: 12rem;
    font-weight: bold;
}
.header-phone-teach{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: #6A7BA9;
    font-weight: bold;
}
.header-leaving{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.header-birth{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.header-gender{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.heading-matpel{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: #12BF95;;
    text-transform: capitalize;
    
}
.header-motivate{
    @extend .heading-content-third;
    color: #2E3B60;
}
.paragraph-resume{
    @extend .paragraph-second;
}
.img-answer-test{
    width: 75%;
}
.img-done{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.header-test-student{
    @extend .heading-content-third;
    font-size: 26px;
    color: #2E3B60;
}
.card-test-student{
    background-color: white;
    box-shadow: 0px 4px 4px #C4C4C4;
    padding-bottom: 30px;
    border-radius: 10px;
    border: none;
}
.btn-test-student{
    @extend .btn-purple-teach;
    font-size: 30px;
    margin-top: 0px;
}
.btn-opini-student{
    @extend .btn-purple-teach;
}
.list-student-name{
    @extend .list-first;
    text-align: left;
}
.list-absen-student{
    @extend .list-second;
    text-align: left;
    color: #4E4F51;
}
.desc-status-les{
    @extend .pargraph-little;
}
.header-confirm-student{
    @extend .heading-content-third-black;
    font-size: 20px;
}
.status-confirm-student{
    color: #F06491;
}