#layout-confirm{
 @extend .bg-profile-teach;
}
#column-data{
    @extend .card-data-content;
}
.heading-confirm{
    @extend .heading-content-third;
    text-align: center;
    color: #12BF95;
}
.list-heading-data{
    @extend .heading-content-fourth;
}
.photo-profile-edit-teach-second{
    @extend .img-profile-big-second;
}
#column-img-confirm{
    @extend .column-section-img;
}
#column-subject{
    @extend .card-schedule;
}
#rows-data{
    @extend .rows-list;
}
.paragraph-confirm{
    @extend .paragraph-second;
}

.heading-status-success{
    @extend .heading-green-first;
}
.heading-status-dangerous{
    @extend .heading-red-first;
}
.paragraph-success{
    @extend .paragraph-first-green;
}
.paragraph-danger{
    @extend .paragraph-first-red;
}
.paragraph-unknown{
    @extend .paragraph-first-purple;
}
.link-status-student{
    @extend .absent;
}
.heading-data-list{
    @extend .heading-black-third;
}
.btn-input-data{
    @extend .btn-order-section;
}
.tb-data{
    @extend .table-first;
}
.first-data-lay{
    @extend .layouts-one;
}
.head-tb-data{
    @extend .heading-black;
}
.list-tb-data{
    @extend .list-second;
}
.heading-payment{
    @extend .heading-black;
}
.heading-payment-red{
    @extend .heading-black;
    color: #F06491;
}
.heading-payment-second{
    @extend .paragraph-third;
}
.img-profile-payment{
    @extend .img-file-content-second;
}
.first-payment{
    @extend .layouts-one;
}
.section-img{
    @extend .img-section;
}
.heading-payment-third{
    @extend .paragraph-second-green;
}
.link-pay{
    @extend .info;
}
.img-pay-done{
    @extend .img-file-content-third;
}
.img-pay-dash{
    @extend .img-dash;
}
.link-pay-not{
    @extend .info;
}
.link-had-pay{
    @extend .info-green;
}
.heading-warn-pay{
    @extend .heading-red-first;
}
.heading-warn-success{
    @extend .heading-green-fourth;
}
.stat-pay-btn{
    @extend .btn-red-content-third;
}
.pay-stat-img{
    @extend .img-stat-pay;
}
.heading-detail-les{
    @extend .heading-content-grey-first;
    border-bottom: 1px solid#D3D3D3;
    padding-bottom: 20px;
}
.heading-friend-taken{
    @extend .heading-content-grey-first;
    color: #787878;
}
.heading-inform{
    @extend .heading-content;
    color: black;
}
.header-teach-name{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: white;
    padding-left: 10px;
    background: #12BF95;
    letter-spacing: 0.07em;
    width: 12rem;
    font-weight: bold;
}
.header-phone-teach{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: #6A7BA9;
    font-weight: bold;
}
.header-leaving{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.header-birth{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.header-gender{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: rgba(0, 0, 0, 0.42);
}
.heading-matpel{
    @extend .heading-black;
    white-space: normal;
    line-height: normal;
    color: #12BF95;;
    text-transform: capitalize;
    
}
.header-motivate{
    @extend .heading-content-third;
    color: #2E3B60;
}
.paragraph-resume{
    @extend .paragraph-second;
}