.img-parralax{
   @extend .login-home;
}
.rows-login-home{
    @extend .rows-home-login;
}
.heading-profile{
    @extend .heading-content-white;
}
.heading-second-profile{
    @extend .heading-white;
}
.photo-profile{
    @extend .img-profile;
}
.paragraph-profile{
    @extend .paragraph-profile;
}
.rows-second-profile{
    @extend .second-profile-login;
}
.header-profile-second{
    @extend .heading-green;
    color: #C4C4C4;
    font-weight: normal;
    margin-bottom: -1px;
}
.link-profile{
    @extend .link-edit-profile;
}
.link-column-profile{
    @extend .column-link-edit-profile;
}
.img-profile-teach{
    @extend .img-teach;
}
.header-teach{
    @extend .heading-black;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
}
.paragraph-title-educate{
    
    @extend .heading-black-second;
}
#column-profile-teach{
    @extend .column-profile-choose-teacher;
}
.rows-third-profile{
    @extend .third-layout-login;
}
#img-study{
    @extend .column-study-teach;
}
#img-book{
    @extend .column-study-book;
}
.rows-column-fitur{
    @extend .rows-product-second;
}
.header-fitur{
    @extend .heading-content-second;
}
.rows-teach{
    @extend .rows-teach-content;
}
.header-second-fitur{
    @extend .heading-white;
}
.column-devider-fitur{
    @extend .devider-content;
}
.btn-fitur{
    @extend .btn-fitur-content;
}
.link-fitur{
    @extend .link-see-teacher;
}
.btn-pelajar-lanjut{
    @extend .btn-content-study;
}
.header-status-subject-matpel{
    @extend .heading-content-fourth;
}
.img-sertified-prove{
    @extend .img-stat-pay;
}
.paragraph-title-educate-second{
    @extend .pargraph-little-second;
    color: #F06491;
    text-transform: capitalize;
    font-size: 14px;
}
.header-div-teach{
    background: rgba(175, 175, 175, 0.78);
    margin-top: -9px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-teaching{
    padding-left: 10px;
}
.header-location{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #F9F9F9;
}
.img-location{
    width: 30px;
    margin-right: 10px;
}
.paragraph-teacher-choose{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.07em;

    color: #858585;
}
.edit-data{
    @extend .heading-content-grey-first;
    border-bottom: 1px solid #555555;
}
#input-form{
    @extend .form-reg;
}