.header-subject{
    @extend .heading-content-third;
}
.list-subject{
    @extend .heading-green-fourth;
}
#list-subject{
    @extend .heading-green-fourth;

}
.div-list-subject{
    @extend .list-content;
}
.rows-subject{
    @extend .rows-bar-subject;
}
#column-subject{
    @extend .column-subject-content;
}
.header-list-schedule{
    @extend .heading-green-first;
}
.list-schedule{
    @extend .list-first;
}
.bg-profile-off{
    @extend .bg-profile-off-content;
    background-color: white;
}
#modal-teacher{
    @extend .modal-content-section;
}
.header-list-address{
    @extend .heading-content-second;
}
.header-name{
    @extend .heading-content-grey-first;
    font-size: 38px;
    width: 30rem;
    text-transform: capitalize;
}
.header-contact{
    @extend .heading-content-grey-second;
}
.paragraph-biodata{
    @extend .paragraph-second;
}
#rows-btn-pesan{
    @extend .rows-btn-content;
}
.btn-order{
    @extend .btn-order-section;
}
.link-choose-teacher{
    @extend .link-choose-teacher-section;
}
.layouts-choose{
    @extend .layouts-first-choose;
}
.btn-order-return{
    @extend .btn-red-content;
}
.btn-order-next{
    @extend .btn-order-section;
}
.card-matpel-search{
    @extend .card-matpel-second;
}
.header-matpel-card{
    @extend .heading-green-fourth;
}
#modal-teacher{
    left: 50px;
}
.header-teach-contract{
    @extend .heading-content-grey-first;
    font-size: 20px;
    text-transform: capitalize;
}
.contract-cancel{
    @extend .paragraph-second;
    color: #F06491;
}
.contract-confirm{
    @extend .paragraph-second;
    text-align: center;
    font-weight: bold;
    color: #12BF95;
}
.contract-does-confirm{
    @extend .paragraph-second;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #F06491;
}
.card-step-teacher{
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    height: 15rem;
}
.paragraph-step-teacher{
    @extend .paragraph-profile;
    margin-top: 0px;
}
.list-step-teacher{
    @extend .list-term-content;
    line-height: 1.3rem;
    color: #858585;
    text-align: justify;
    font-weight: normal;
}
.heading-step-teacher{
    @extend .heading-content-grey-first;
    font-weight: normal;
}
.paragraph-info-teacher{
    @extend .paragraph-profile;
    margin-top: 0px;
    color: #858585;
}
.card-info-teacher{
    @extend .card-step-teacher;
    height: auto;
}
.bold-info{
    color: #F06491;
}
.paragraph-extend-info{
    @extend .paragraph-profile;
    color: #12BF95;
}