.img-logo-sec, .nav-header .logo {
  padding-top: 5px;
  width: 80%;
  padding-left: 10px; }

.img-profile, .photo-profile {
  width: 150px;
  height: 150px; }

.img-teach, .img-profile-teach, .img-sertif {
  width: 110px;
  height: 110px; }

.img-profile-big, .photo-profile-edit-teach {
  width: 300px;
  height: 300px;
  opacity: 1; }

.img-profile-big:hover, .photo-profile-edit-teach:hover {
  opacity: 0.2; }

.img-profile-big-second, .photo-profile-edit-teach-second {
  width: 300px;
  height: 300px; }

.img-profile-big-second:hover, .photo-profile-edit-teach-second:hover {
  background-color: #F9F9F9;
  opacity: 0.5;
  transition: 0.5s; }

.img-file-content, .img-file {
  width: 120px;
  height: 200px;
  margin-right: 40px; }

.img-file-content-second, .img-profile-payment {
  width: 300px;
  height: 300px; }

.img-section, .section-img {
  border-left: 2px solid #4E4F51; }

.img-file-content-third, .img-pay-done {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  background-color: #C8C8C8;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 3px 3px 2px #F0F0F0; }

.img-dash, .img-pay-dash {
  width: 100px;
  height: 100px; }

.img-stat-pay, .img-sertified-prove, .pay-stat-img {
  width: 30px;
  height: 30px; }

.img-card-content, .img-card {
  width: 100%; }

.btn-nav, .nav-header .login-btn {
  border-right: 1px solid white;
  padding-right: 30px; }

.btn-feedback, .fifth-layout .btn-send {
  background-color: #404F76;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-family: "Roboto Slab", serif;
  line-height: 0.06em; }

.btn-content-study, .btn-pelajar-lanjut {
  background-color: #6A7BA9;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  color: white;
  font-weight: 700;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-register, .button-reg {
  background-color: #404F76;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  color: white;
  font-weight: 700;
  margin-left: 200px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-login {
  background-color: #404F76;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-file-content, .btn-file {
  background-color: #404F76;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  color: white;
  font-weight: 700;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-fitur-content, .btn-fitur {
  background-color: #45E0C0;
  width: auto;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-order-section, .btn-order, .btn-order-next, .btn-validasi-guru, .btn-input-data, .butoon-success {
  background-color: #45E0C0;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em; }

.btn-red-content, .btn-order-return, .butoon-failed {
  background-color: #F06491;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif; }

.btn-red-content:active, .btn-order-return:active, .butoon-failed:active {
  background-color: #F06491; }

.btn-red-content-second, .btn-delete {
  background-color: #F06491;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 11.5px;
  font-family: "Roboto Slab", serif; }

.btn-red-content-second:hover, .btn-delete:hover {
  background-color: #FF665D; }

.btn-red-content-third, .stat-pay-btn {
  background-color: #F06491;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Roboto Slab", serif; }

.btn-red-teach, .btn-process-study {
  background-color: #F06491;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  color: white;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Roboto Slab", serif; }

.btn-purple-teach, .btn-search-teach {
  background-color: #6A7BA9;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  color: white;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Roboto Slab", serif; }

.btn-green-teach, .btn-become-teach {
  background-color: #12BF95;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: auto;
  color: white;
  font-weight: normal;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Roboto Slab", serif; }

.heading-content, .first-section .first-header {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 36px;
  color: white;
  font-weight: bold; }

.heading-content-second, .first-section .second-header, .header-fitur, .header-list-address {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 35px;
  color: white;
  font-weight: normal; }

.heading-content-white, .heading-profile {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 40px;
  color: white;
  font-weight: 700; }

.heading-black, .header-teach, .head-tb-data, .heading-payment {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 18px;
  color: #4E4F51;
  font-weight: normal;
  white-space: nowrap; }

.heading-black-second, .paragraph-title-educate {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 13px;
  color: #4E4F51;
  font-weight: normal; }

.heading-black-third, .heading-data-list, .heading-file {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 40px;
  color: #4E4F51;
  font-weight: 700;
  letter-spacing: 0.06em; }

.heading-green-sixth, .heading-rupiah {
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 16px;
  color: #39B54A;
  font-weight: normal;
  letter-spacing: 0.06em; }

.heading-white, .heading-second-profile, .header-second-fitur {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 20px;
  color: white;
  font-weight: 300; }

.heading-white-second, .footer-sec .heading-footer {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 25px;
  color: white;
  font-weight: 700; }

.heading-big, .second-layout .first-header, .fifth-layout .header-first {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 55px;
  color: #67759B;
  font-weight: normal; }

.heading-green, .header-register, .header-profile-second {
  color: #12BF95;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 30px;
  font-weight: 700;
  line-height: normal; }

.heading-green-third, .header-login {
  color: #12BF95;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 40px;
  font-weight: 700;
  line-height: normal; }

.heading-green-first, .header-list-schedule, .heading-status-success {
  color: #12BF95;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 24px;
  font-weight: 700;
  line-height: normal; }

.heading-red-first, .heading-status-dangerous, .heading-warn-pay {
  color: #F06491;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 24px;
  font-weight: 700;
  line-height: normal; }

.heading-green-second, .header-register-second {
  color: #12BF95;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 100px;
  margin-top: -20px; }

.heading-green-fourth, .list-subject, #list-subject, .header-matpel-card, .heading-warn-success {
  color: #12BF95;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 20px;
  font-weight: 700;
  line-height: normal; }

.heading-green-fifth, .heading-card {
  color: #45E0C0;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 20px;
  font-weight: 700;
  line-height: normal; }

.heading-product, .third-layout .first-header {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 40px;
  color: #00cc99;
  font-weight: 400;
  line-height: 40px; }

.heading-content-third, .header-subject, .heading-teacher-form, .heading-confirm {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 24px;
  color: #4E4F51;
  font-weight: 700;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-content-third-black, #layout-faq .heading-faq {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 40px;
  color: #4E4F51;
  font-weight: 700;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-content-fourth, .heading-term, .header-status-subject-matpel, .list-heading-data {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 18px;
  color: #4E4F51;
  font-weight: 700;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-purple, .heading-packet {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 40px;
  color: #404F76;
  font-weight: 700;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-content-fourth-black, #layout-faq .heading-question {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #4E4F51;
  font-weight: 700;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-content-fifth-black, #layout-faq .hedaing-answer {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #4E4F51;
  font-weight: 300;
  letter-spacing: 7%;
  line-height: 32px; }

.heading-content-grey-first, .header-name {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 30px;
  color: #555555;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 32px; }

.heading-content-grey-second, #layout-faq .paragraph-faq, .header-contact {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  color: #555555;
  font-weight: 300;
  letter-spacing: 0.07em;
  line-height: 32px; }

.paragraph-content, .first-section .first-paragraph {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 0.06em; }

.pargraph-little, .second-layout .first-paragraph {
  font-family: "Roboto Slab", serif;
  color: #828282;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.06em; }

.paragraph-second, .paragraph-term, .third-layout .paragraph-first, .third-layout .paragraph-login, .paragraph-biodata, .paragraph-confirm, .paragraph-file {
  font-family: "Roboto Slab", serif;
  color: #404F76;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-align: justify; }

.paragraph-register, .paragraph-reg {
  font-family: "Roboto Slab", serif;
  color: #586360;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: justify; }

.paragraph-profile {
  font-family: "Roboto Slab", serif;
  color: #696969;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-align: justify;
  margin-top: 30px; }

.paragraph-first, .paragraph-login {
  font-family: "Roboto Slab", serif;
  color: #12BF95;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 7%; }

.paragraph-first-green, .paragraph-success {
  font-family: "Roboto Slab", serif;
  color: #12BF95;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 7%; }

.paragraph-second-green, .heading-payment-third {
  font-family: "Roboto Slab", serif;
  color: #12BF95;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 7%; }

.paragraph-first-red, .paragraph-danger {
  font-family: "Roboto Slab", serif;
  color: #F06491;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 7%; }

.paragraph-first-purple, .paragraph-unknown {
  font-family: "Roboto Slab", serif;
  color: #404F76;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 7%; }

.paragraph-purple, .paragraph-card {
  font-family: "Roboto Slab", serif;
  color: #404F76;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.04em; }

.paragraph-second, .paragraph-term, .third-layout .paragraph-first, .third-layout .paragraph-login, .paragraph-biodata, .paragraph-confirm, .paragraph-file {
  font-family: "Roboto Slab", serif;
  color: #4E4F51;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.07em; }

.paragraph-third, .heading-payment-second {
  font-family: "Roboto Slab", serif;
  color: #4E4F51;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0.07em; }

.pargraph-little-second, .paragraph-title-educate-second {
  font-family: "Roboto Slab", serif;
  color: #828282;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.06em; }

.form-reg, input[type="text"], .text-long, .form-login #email, .form-login #password {
  width: 100%;
  height: 57px;
  font-family: "Roboto Slab", serif;
  border: none;
  background-color: rgba(209, 211, 212, 0.25);
  color: rgba(103, 117, 155, 0.61);
  font-size: 18px;
  letter-spacing: 0.07em;
  border-radius: 12px; }

.link-register-section, .link-register {
  font-family: "Roboto Slab", serif;
  color: #12BF95; }

.link-edit-profile, .link-profile {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  color: #12BF95; }

.link-forgot-password {
  font-family: "Roboto Slab", serif;
  color: #404F76;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.02em; }

.link-choose-teacher-section, .link-choose-teacher {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em; }

.link-footer-content, .footer-sec .link-footer {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em; }

.link-footer-content:hover, .footer-sec .link-footer:hover {
  font-size: 20px;
  transition: 0.8s; }

.link-see-teacher, .link-fitur {
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em; }

.link-home-teach, .link-teach {
  font-family: "Roboto Slab", serif;
  color: #BF3C12;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  position: static; }

.info, .red-info, .link-pay, .link-pay-not {
  color: #F06491;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em;
  font-weight: 700; }

.absent, .link-status-student {
  background-color: #F06491;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px; }

.absent:hover, .link-status-student:hover {
  background-color: #BF3C12; }

.info-green, .green-info, .link-had-pay {
  color: #404F76;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.06em;
  font-weight: 300; }

.link-home-teach:hover, .link-teach:hover {
  color: #057258;
  font-size: 40px;
  transition: 0.2s; }

.link-beranda-teach-section, .link-beranda-teach {
  color: #4E4F51;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em; }

.link-beranda-teach-section:hover, .link-beranda-teach:hover {
  transition: 0.2s;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 10px;
  padding-right: 20px; }

.list-first, .list-schedule {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #12BF95; }

.list-second, .list-tb-data {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #67759B; }

.list-term-content, .list-term {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 0.02em;
  color: black; }

.table-first, .tb-data {
  border: 1px solid #4E4F51; }

.navbar-section-first-content, .nav-header #navbar-section-first {
  margin-left: 250px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 300;
  font-style: normal; }

.background-nav, .nav-header {
  background: linear-gradient(266.46deg, #404F76 0%, #67759B 99.98%, rgba(92, 102, 130, 0.320442) 99.99%);
  padding-left: 30px;
  padding-right: 10px;
  height: 100px; }

.navbar-section-second-content, .nav-header .navbar-section-second {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.04em;
  font-weight: 300;
  font-style: normal; }

.heeader-background-ts, .transparent-header {
  background-color: white;
  padding-left: 30px;
  height: 100px;
  padding-top: 30px; }

.navbar-section-loguser, .log-user-header {
  margin-left: 250px;
  padding-top: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 300;
  font-style: normal; }

.profile-content, .profile-img {
  width: 50px;
  height: 50px; }

.divider-header, .third-layout .header-section {
  border-bottom: 6px solid #12BF95;
  padding-bottom: 4px;
  width: 10%; }

.rows-content, .third-layout .row-section-product {
  padding-top: 0px;
  padding-bottom: 0px; }

.rows-product, .third-layout .content-group-product {
  padding-top: 150px; }

.rows-product-second, .rows-column-fitur {
  padding-left: 100px; }

.rows-home-login, .rows-login-home {
  margin-left: 50px; }

.column-img-profile {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  border-radius: 11px;
  border: 3px solid #D8D8D8; }

.column-link-edit-profile, .link-column-profile {
  background-color: rgba(18, 191, 149, 0.2);
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: auto;
  height: auto;
  text-align: center; }

.column-profile-choose-teacher, #column-profile-teach {
  background-color: white;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 23px;
  padding-right: 23px; }

.column-profile-choose-teacher:hover, #column-profile-teach:hover {
  background-color: #F0F0F0;
  border-radius: 5px; }

.column-study-teach, #img-study {
  background-image: url("../img/Background/teach.png");
  background-size: cover;
  background-position: center;
  margin-right: 100px; }

.column-study-book, #img-book {
  background-image: url("../img/Background/book.png");
  background-size: cover;
  background-position: center;
  margin-right: 50px; }

.rows-teach-content, .rows-teach {
  border: 2px solid white; }

.devider-content, .column-devider-fitur {
  border-right: 2px solid white; }

.card-packet-content, .card-packet {
  border-top: 9px solid #45E0C0;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 10px; }

.card-packet-content-second, .card-packet-second {
  border-top: 9px solid #859DDB;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 10px; }

.card-packet-content-third, .card-packet-third {
  border-top: 9px solid #F06491;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 10px; }

.layout-footer, .footer-sec {
  background-color: #2E3B60; }

.img-content-background, .img-background-reg {
  background-image: url("../img/Background/register.png");
  background-size: cover;
  height: 700px; }

.content-rows-reg, .column-register {
  padding-top: 200px; }

.header-content, .rows-column {
  margin-top: -100px;
  margin-bottom: 100px;
  padding-left: 10px; }

.content-paragraph, .login-paragraph {
  margin-left: 80px; }

.sectin-register, .paragraph-register, .paragraph-reg {
  text-align: center;
  margin-top: 20px; }

.login-section, .content-login {
  width: auto;
  height: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  opacity: 70%;
  padding-left: 150px;
  padding-right: 150px; }

.form-section, .form-login {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 100px; }

.sectin-login {
  margin-left: 28px;
  margin-top: 20px; }

.rows-bar-subject, .rows-subject {
  padding-left: 100px; }

.column-subject-content, #column-subject {
  border-radius: 5px;
  background-color: #F9F9F9;
  margin-right: 20px;
  padding-left: 20px; }

.modal-content-section, #modal-teacher {
  background-color: #F9F9F9; }

.rows-btn-content, #rows-btn-pesan {
  float: right; }

.list-content, .div-list-subject {
  margin-bottom: 100px;
  border-radius: 5px;
  background-color: #F9F9F9;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px; }

.card-data-content, #column-data {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-top: 7px solid #45E0C0;
  background-color: #F9F9F9; }

.column-section-img, #column-img-confirm {
  background-color: #F9F9F9;
  border-radius: 3px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-right: 40px; }

.card-schedule, #column-subject {
  background-color: white; }

.rows-list, #rows-data {
  margin-bottom: 50px; }

.column-img-section, #column-img-edit-teach {
  margin-right: 70px; }

.column-img-section:hover, #column-img-edit-teach:hover {
  background-image: url("../../img/background/setting2.png");
  transition: 0.3s;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 4; }

.tab-screen, #tab-teacher {
  overflow-y: scroll;
  height: auto;
  background-color: white;
  margin-top: 30px; }

.tab-layout, #tab-choose-section {
  background-color: white;
  height: 90vw;
  padding-top: 40px; }

.section-profile-teacher, #section-profile {
  padding-top: 100px;
  padding-left: 100px; }

.card-matpel, #list-matpel {
  background-color: white;
  margin-right: 30px; }

.card-matpel-second, .card-matpel-search {
  background-color: #F3F3F3;
  width: 200px;
  max-width: 100%; }

.section-tabs, .column-tabs-search {
  padding-top: 30px;
  position: fixed;
  background: linear-gradient(180deg, #404F76 0%, #5C6682 100%);
  padding-bottom: 100px;
  scroll-behavior: smooth; }

.section-tabs::-webkit-scrollbar, .column-tabs-search::-webkit-scrollbar {
  width: 10px; }

.section-tabs::-webkit-scrollbar-track, .column-tabs-search::-webkit-scrollbar-track {
  background: #f1f1f1; }

.section-tabs::-webkit-scrollbar-thumb, .column-tabs-search::-webkit-scrollbar-thumb {
  background: #888; }

.layout-first, .first-section {
  background-image: url("../img/Background/ruler.png");
  height: 500px;
  text-align: center;
  background-size: cover;
  padding-top: 100px; }

.img-content-login, .img-login {
  background-image: url("../img/Background/login.png");
  padding-top: 100px;
  padding-bottom: 100px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; }

.login-home, .img-parralax {
  background-size: cover;
  background-color: #12BF95;
  height: 190px;
  padding-top: 26px;
  margin-bottom: 200px;
  border-bottom: 1px solid #E1E1E1; }

.bg-profile-teach, #layout-faq, .bg-profile-teacher, #layout-confirm {
  background-color: white;
  padding-top: 100px; }

.bg-profile-off-content, .bg-profile-off {
  background-color: #F3F3F3; }

.layouts-first-choose, .layouts-choose {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #E5E5E5;
  padding-right: 30px; }

.layouts-one, .first-data-lay, .first-payment {
  padding-top: 100px;
  padding-bottom: 100px; }

.second-layout-home, .second-layout {
  padding-top: 100px;
  padding-bottom: 150px;
  animation-direction: reverse;
  animation-delay: 0.8s; }

.second-profile-login, .rows-second-profile {
  border-top: 3px solid #E1E1E1;
  border-bottom: 3px solid #E1E1E1;
  padding-left: 30px; }

.third-layout-home, .third-layout {
  background-color: #EAEAEA;
  background-position: center;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 100px;
  transition: width 3s; }

.third-layout-login, .rows-third-profile {
  padding-left: 30px;
  padding-bottom: 100px; }

.layout-home, .video-ces {
  padding-top: 150px;
  padding-bottom: 100px; }

.feedback-layout, .fifth-layout {
  background-color: #EAEAEA;
  padding-top: 100px;
  padding-bottom: 100px; }

@media only screen and (max-width: 1000px) {
  .log-user-header {
    display: none; } }
@media only screen and (max-width: 1000px) {
  .first-section {
    display: none; } }
@media only screen and (max-width: 1000px) {
  .button-reg {
    margin-left: 0px; }

  .login-paragraph {
    margin-left: 27px; } }
@media only screen and (max-width: 1000px) {
  .form-login {
    padding-left: 0px;
    padding-right: 0px; }

  .login #email {
    margin-left: 0px;
    margin-right: 0px; }
  .login #password {
    margin-left: 0px;
    margin-right: 0px; }

  .btn-login {
    margin-left: 0px; }

  .link-forgot-password {
    margin-left: 0px; }

  .paragraph-register, .paragraph-reg {
    margin-left: 0px; } }

/*# sourceMappingURL=master.css.map */
