.layout-first{
    // background-color: #EAEAEA;
    background-image: url("../img/Background/ruler.png");
    height: 800px;
    background-size: cover;
    padding-top: 100px;
}
.img-content-login{
    background-image: url("../img/Background/login.png");
    padding-top: 100px;
    padding-bottom: 120px;
    height: auto;
    background-size: cover;
}