.second-layout-home{
    padding-top: 100px;
    padding-bottom: 150px;
    animation-direction: reverse;
    animation-delay: 0.8s;
}
.second-profile-login{
    border-top: 3px solid #E1E1E1;
    border-bottom: 3px solid #E1E1E1;
    padding-left: 30px;
}