.divider-header{
    border-bottom: 6px solid #12BF95;
    padding-bottom: 4px;
    width: 10%;
}
.rows-content{
    padding-top: 0px;
    padding-bottom: 0px;
}
.rows-product{
    padding-top: 150px;
}