.login-section{
    width: auto;
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    opacity: 70%;
    padding-left: 150px;
    padding-right: 150px;
}
.form-section{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 100px;
}
.sectin-login{
    margin-left: 28px;
    margin-top: 20px;
}