.login-section{
    width: auto;
    height: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    opacity: 70%;
    padding-left: 150px;
    padding-right: 150px;
}
.form-section{
    padding-top: 104px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.sectin-login{
    margin-left: 28px;
    margin-top: 20px;
}