.img-content-background{
    background-image: url("../img/Background/register.png");
    background-size: cover;
    height: 700px;
}
.content-rows-reg{
    padding-top: 200px;
}
.header-content{
    margin-top: -100px;
    margin-bottom: 100px;
    padding-left: 10px;
}
.content-paragraph{
    margin-left: 80px;
}
.sectin-register{
    margin-left: 140px;
    margin-top: 20px;
}